<div class="logo">
<img src="{{@blog.logo}}"/>
</div>
<h5>{{@blog.title}}</h5>
<hr>
<ul class="list-unstyled menu">
    <li>
        <a href="https://github.com/crutcha" target="_blank">
         <i class="el el-github"></i> GitHub
        </a>
    </li>
    <li>
        <a href="https://twitter.com/packetology" target="_blank">
            <i class="el el-twitter"></i> @packetology
        </a>
    </li>
        <li>
        <a href="www.linkedin.com/in/drew-crutchfield-279a047" target="_blank">
            <i class="el el-linkedin"></i> LinkedIn
        </a>

    </li>
</ul>

<hr>

<ul class="list-unstyled menu">
    <li>
        <a href="https://{{@blog.url}}/tags/networking" target="_blank">
         <i class="el el-tags"></i> Networking
        </a>
    </li>
    <li>
        <a href="https://{{@blog.url}}/tags/coding" target="_blank">
         <i class="el el-tags"></i> Coding
        </a>
    </li>
    <li>
        <a href="https://{{@blog.url}}/tags/automation" target="_blank">
         <i class="el el-tags"></i> Automation
        </a>
    </li>
    <li>
        <a href="https://{{@blog.url}}/tags/offtopic" target="_blank">
         <i class="el el-tags"></i> Off Topic
        </a>
    </li>

</ul>
