<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{! Page Meta }}
    <title>
    {{meta_title}}{{#is "post"}} | {{@blog.title}}{{/is}}
    </title>
    <meta name="description" content="{{meta_description}}" />

    {{! Page Meta }}
    {{{block "meta"}}}

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <!--<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />-->

    {{! Added Bootstrap }}
    <link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}"/>
    <!--<link rel="stylesheet" href="{{asset "css/monokai_sublime.css"}}">-->
    <link rel="stylesheet" href="{{asset "css/default.css"}}">
<link rel="stylesheet" href="{{asset "css/elusive-icons.min.css"}}">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
<script src="https://use.typekit.net/vuv3btj.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

 <style>
    h1,h2,h3,h4,h5,a,p,li,span,italics,b {
  font-family: "soleil",sans-serif;
  }
    h1,h2,h3,h4,h5 {
     font-weight:bold;   
    }
    table {
     border:1px solid #f2f8ff;   
    }
     td,th {
     padding:2px;   
    }
    tbody tr:nth-child(odd) {
   background-color: #f2f8ff;
}
   article ul li {
     color:#353535;
     margin-top:25px;
     margin-bottom:25px;
    }
    p,li {
     font-size:19px;  
    }
    img[src$="#small"] {
    float: left;
    clear: right;
    width: 200px;
    height: 200px;
}
    
img[src$="#cover"] {
    position:absolute;
    float: right;
    width: 200px !important;
    top:30px;
    padding:10px;
    right:0px;
}
    
    img[src$="#400"] {
        border:1px solid #71859d;
        margin:10px;
    clear: both;
    width: 400px !important;
}
        img[src$="#full"] {
            
                border:1px solid #71859d;
    clear: both;
    width: 100% !important;
            margin-top:30px;
            margin-bottom:30px;
}

    
    
p, label, span, li,, h1 a, h2 a, h3 a, h4 a, h5 a {
 color:#767676;
}
h1 {
    font-size:40px;
    }
h2 {
    font-size:35px;
    }
h3 {
    font-size:30px;
    }
h4 {
    margin-top:30px;
    font-size:25px;
    }
h5 {
    font-size:12px;
    font-weight:100;
    
    }
    ul {
     margin:0px 20px;   
    }
    img {
     width:100%;
        margin:20px 0px;
    }
</style>


        <script type="text/javascript" src="{{asset "js/jquery.js"}}"></script>

    {{! Add all code style here }}
    <!--<link rel="stylesheet" href="{{asset "css/default.css"}}">-->
    
    <script src="{{asset "js/highlight.pack.js"}}"></script>
  
  {{! Page Highlight }}
  {{{block "initHighlight"}}}

<script>

</script>
</head>
<body>
{{#is "home"}}
{{#if @blog.cover_image}}
<div style="background:url({{@blog.cover_image}}) no-repeat center center;" class="cover cover-border hidden-sm hidden-xs">
</div>
{{/if}}
{{/is}}
<div class="container">
<div class="row">
<div class="col-md-2 hidden-sm hidden-xs">
{{> "navbar"}}
</div>
<div class="col-md-10 col-xs-12">
    {{{body}}}
</div>
</div>
</div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
          <i class="el el-stop footer-icon"></i>
            &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> All rights reserved.<br><br>
            Coder Ghost Theme created by <a href="https://www.mbejda.com">Milos Bejda</a>
          </div>
          <div class="col-xs-6 text-right hidden-sm hidden-xs">Proudly published with <a href="https://ghost.org">Ghost</a></div>
        </div>
      </div>
    </footer>

    <a href="#" class="back-to-top"><span class="fa fa-angle-up fa-2x"></span></a>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script src="/assets/js/modernizr.js?v=42c0cc5188"></script>
    <script type="text/javascript" src="/assets/js/index.js?v=42c0cc5188"></script>

</body>
</html>
